@charset "utf-8";

/* CSS Document 

Project Name:  Medicative Hospital || Health and Medical HTML5 Template
Version:  1.0   
Author Name: bdcoder / Set PVT.
Support Email : shakil.shakil.ahsan@gmail.com
Design By: Md Shakil Ahsan
Creation Date: 24 May 2018

*****=====***** TABLE OF CONTENT *****=====*****

01. IMPORTED STYLE CSS
02. GENERAL CSS
03. Background Over Layer CSS
04. Section Title Css
05. Scrollup CSS
06. Header top Style Css
07. Navbar Style Css
08. Main Slider Style Css
09. About Style Css
10. Testimonal Style Css
11. Practice Style Css
12. Counter / Funfact Style Css
13. Progressber  Style Css
14. Service Style Css
15. Team Style Css
16. Choose Us Style Css
17. Blog Style Css
18. Contact Style Css
19. Footer Style Css
20. Error Style css
21. Gallery Style css
22. Inner style Css
23. Image Background style Css

*/

/*****=====*****=====*****=====*****=====
    01. IMPORTED STYLE CSS
=====*****=====*****=====*****=====*****/

/* GOOGLE FONTs */
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

/* OTHER IMPORTED CSS */


/*****=====*****=====*****=====*****=====
    02. General CSS 
=====*****=====*****=====*****=====*****/

body {
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 26px;
    color: #676767;
}

/* Common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #111111;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #00B092;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.container,
.container-fluid{
    padding: 70px 0 50px;
}

.hvr-rectangle-out:before {
    background: #00B092;
}

/* Form CSS */

.form-control {
    font-family: 'Poppins', sans-serif;
    resize: none;
    height: 55px;
    margin-bottom: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.form-control:focus {
    border-color: #333;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
::-webkit-input-placeholder {
    color: #999 !important;
}
::-moz-placeholder {
    color: #999 !important;
}
:-ms-input-placeholder {
    color: #999 !important;
}
input:-moz-placeholder {
    color: #999 !important;
}
.line-border-center {
    height: 2px;
    text-align: center;
    margin: auto;
    width: 70px;
    background: #333;
    margin-top: 20px;
    margin-bottom: 25px;
}
.line-border-center.bg-gray {
    background: #eee;
}
.small-line-border-center {
    position: relative;
}
.small-line-border-center::after {
    top: 15px;
    content: "";
    height: 2px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 70px;
    background: #00B092;
}

.small-line-border {
    position: relative;
}

.small-line-border::after {
    top: 5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 70px;
    background: #00B092;
}


.small-line-border-2 {
    position: relative;
}

.small-line-border-2::before {
    top: 6px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 250px;
    background: #EEE;
}
.small-line-border-2::after {
    top: 5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 70px;
    background: #00B092;
}
.z-index-3 {
    z-index: 9;
}

/* Btn CSS */
.btn-simple {
    padding: 12px 30px;
    border-radius: 0;
    border: none;
    background: #00B092;
    color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-simple:hover {
    color: #00B092;
    background: #333;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-theme,
.btn-price {
    background: #00b092;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-theme:hover,
.btn-price:hover {
    color: #ffffff;
    background: #007EA3;
    border: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-price {
    padding: 16px 20px;
}
.btn-price:hover {
    background-color: #007EA3;
    color: #FFF;
}
.btn {
    border-radius: 0;
}

.btn-topbar {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 15px;
    font-size: 13px;
    margin-top: -1px;
    margin-right: 15px;
}
.btn-topbar:hover {
    border-color: #333;
}
.hvr-shutter-out-vertical:before {
    background: #333;
}

.btn-mid {
    padding: 10px 22px;
}

.color-333 {
    color: #333!important;
}
.color-white {
    color: #FFF !important;
}
.pt90 {
    padding-top: 90px;
    padding-bottom: 90px;
}
button {
    border: none;
}

        
.header-topbar {
    background-color: #007EA3;
    padding: 15px 0;
    color: #fff;
}
.top-icon i {
    font-size: 16px;
    color: #333;
}
.top-icon {
    margin-top: 0;
}
.welcome-top p {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.preloader {
    position: fixed; 
    left: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: 999999; 
    background-color: #f5f4e9; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-image: url('../img/preloder/1.gif');
}

/*****=====*****=====*****=====*****=====
    04. Section Title Css
=====*****=====*****=====*****=====*****/
.section-title {
    margin-bottom: 70px;
}

.section-title h6 {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: #00B092;
    font-weight: 300;
    letter-spacing: 3px;
}
.mini-title {
    position: relative;
    margin-bottom: 50px;
}
.mini-title:before {
    top: 3em;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    width: 55px;
    background: #00B092;  
}


/*****=====*****=====*****=====*****=====
    05. Scrollup CSS
=====*****=====*****=====*****=====*****/

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: #00B092;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}

.scrollup i {
    color: #ffffff;
}

.scrollup:active i,
.scrollup:focus i {
    color: #ffffff;
}

/*****=====*****=====*****=====*****=====
    06. Header top Style Css
=====*****=====*****=====*****=====*****/

.navbar-nav.style-2 {
  width: 100%;
  text-align: center;
}
.navbar-nav.style-2 > li {
  float: none;
  display: inline-block;
}
.header-top .container {
    padding-top: 30px;
    padding-bottom: 20px;
}
.header-top .logo img {
    width: 190px;
}
.header-top .service-item {
    padding: 0;
    margin-bottom: 0;
    position: relative;
    padding-right: 10px;
    border-right: 1px solid #00B092;
}




.header-top .service-item i:before {
    font-size: 30px !important;
}
.header-top .service-item i {
    position: absolute;
    right: 10px;
    top: -6px;
    /*color: #00B092;*/
}

@media only screen and (max-width: 644px) {
    .header-top {
       display: none;
    }
}
.icon-style-1 li {
    background: #00B092;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon-style-1 li:hover {
    background: #007EA3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icon-style-1 li a {
    color: #FFF;
    display: block;
}
.search-btn {
    cursor: pointer;
}

.search-item{
    position:fixed;
    left:0px;
    top:-100%;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.80);
    z-index:9999;
    visibility:hidden;
    opacity:0;
    overflow:auto;
    transition:all 700ms ease;
    -moz-transition:all 700ms ease;
    -webkit-transition:all 700ms ease;
    -ms-transition:all 700ms ease;
    -o-transition:all 700ms ease;
}

.search-item.search-visible{
    top:0;
    visibility:visible;
    opacity:1;
}

.search-item .search-close{
    position:absolute;
    right:5%;
    top:5%;
    font-size:60px;
    color:#ffffff;
    cursor:pointer;
    z-index:5;
}

.search-item .search-close:hover{
    opacity:0.70;   
}

.search-item .search-form{
    position:relative;
    padding:0px 15px 50px;
    padding-top:130px;
    max-width:1024px;
    margin:0 auto;  
}

.search-item .search-form fieldset{
    position:relative;
}

.search-item .search-form fieldset input[type="search"]{
    position:relative;
    height:120px;
    padding:20px 220px 20px 30px;
    background:#ffffff;
    line-height:30px;
    font-size:24px;
    color:#333;
}

.search-item .search-form fieldset input[type="submit"]{
    position:absolute;
    display:block;
    right:0px;
    top:0px;
    text-align:center;
    width:220px;
    height:120px;
    padding:20px 10px 20px 10px;
    color:#ffffff;
    background:#00B092;
    line-height:30px;
    font-size:20px;
    text-transform:uppercase;
    border-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.search-item .search-form fieldset input[type="submit"]:hover{
    background: #333;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*****=====*****=====*****=====*****=====
    07. Navbar Style Css
=====*****=====*****=====*****=====*****/

.main-navbar .navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-navbar.no-bg {
    width: 100%;
    z-index: 16;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.navbar-brand {
    padding: 0 15px;
    padding-top: 15px;
}

.dropdown-menu > li > a {
  border-bottom: 1px solid #eee;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 15px 20px;
  color: #5a5a5a;
}

.dropdown-menu>li:last-child>a {
    border-bottom: none;
}
.navbar-default .navbar-nav>li>a {
    color: #ddd;
}
.fixed-header .navbar-default .navbar-nav>li>a {
    color: #888;
}

.navbar-nav>li:first-child>.dropdown-menu {
    left: 0;
}

.dropdown-menu>li>a:hover{
    padding-left: 30px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #FFF;
    background-color: #00B092;
}


.navbar-default.style-1 .navbar-nav>.active>a,
.navbar-default.style-1 .navbar-nav>.active>a:focus,
.navbar-default.style-1 .navbar-nav>.active>a:hover, 
.navbar-default.style-1 .navbar-nav>.open>a,
.navbar-default.style-1 .navbar-nav>.open>a:focus,
.navbar-default.style-1 .navbar-nav>.open>a:hover,
.navbar-default.style-1 .navbar-nav>li>a:hover {
    color: #FFF;
    position: relative;
    background-color: transparent;
}
.navbar-default.style-1 .navbar-nav>.active>a:after,
.navbar-default.style-1 .navbar-nav>.active>a:focus:after,
.navbar-default.style-1 .navbar-nav>.active>a:hover:after, 
.navbar-default.style-1 .navbar-nav>.open>a:after,
.navbar-default.style-1 .navbar-nav>.open>a:focus:after,
.navbar-default.style-1 .navbar-nav>.open>a:hover:after,
.navbar-default.style-1 .navbar-nav>li>a:hover:after{
    position: absolute;
    content: "";
    bottom: 0px;
    left: 15px;
    width: 25px;
    height: 2px;
    background-color: #00B092;
    margin: auto;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-default.style-1 .navbar-nav>.active>a:after,
.navbar-default.style-1 .navbar-nav>.active>a:focus:after,
.navbar-default.style-1 .navbar-nav>.active>a:hover:after, 
.navbar-default.style-1 .navbar-nav>.open>a:after,
.navbar-default.style-1 .navbar-nav>.open>a:focus:after,
.navbar-default.style-1 .navbar-nav>.open>a:hover:after,
.navbar-default.style-1 .navbar-nav>li>a:hover:after{
    position: absolute;
    content: "";
    bottom: 0px;
    left: 15px;
    width: 0px;
    height: 2px;
    background-color: #00B092;
    margin: auto;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-default.style-1 .navbar-nav>li.active>a:after,
.navbar-default.style-1 .navbar-nav>li:hover.active>a:after,
.navbar-default.style-1 .navbar-nav>li:hover.open>a:after{
    width: 45px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.fixed-header .navbar-default.style-1 .navbar-nav>.active>a,
.fixed-header .navbar-default.style-1 .navbar-nav>.active>a:focus,
.fixed-header .navbar-default.style-1 .navbar-nav>.active>a:hover,
.fixed-header .navbar-default.style-1 .navbar-nav>.open>a,
.fixed-header .navbar-default.style-1 .navbar-nav>.open>a:focus,
.fixed-header .navbar-default.style-1 .navbar-nav>.open>a:hover,
.fixed-header .navbar-default.style-1 .navbar-nav>li>a:hover {
    color: #333;
}

.navbar-default .navbar-nav.style-2>.active>a,
.navbar-default .navbar-nav.style-2>.active>a:focus,
.navbar-default .navbar-nav.style-2>.active>a:hover,
.navbar-default .navbar-nav.style-2>.open>a,
.navbar-default .navbar-nav.style-2>.open>a:focus,
.navbar-default .navbar-nav.style-2>.open>a:hover,
.navbar-default .navbar-nav.style-2>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #007EA3;
    background-color: transparent;
}

.navbar-default .navbar-nav.style-3>.active>a,
.navbar-default .navbar-nav.style-3>.active>a:focus,
.navbar-default .navbar-nav.style-3>.active>a:hover, 
.navbar-default .navbar-nav.style-3>.open>a,
.navbar-default .navbar-nav.style-3>.open>a:focus,
.navbar-default .navbar-nav.style-3>.open>a:hover,
.navbar-default .navbar-nav.style-3>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #777;
    background-color: transparent;
}

.navbar-default .navbar-nav.style-3>.active>a {
    color: #888;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #333;
    border-color: #333;
}
.navbar-brand.dis-none {
    display: none;
}
.fixed-header .navbar-brand.dis-block {
    display: none;
}
.fixed-header .navbar-brand.dis-none {
    display: block;
}

.dropdown-menu {
    padding: 0;
}
.header-style-1 .navbar-default .navbar-nav>li>a {
    color: #888;
} 
.header-style-1 .navbar-default.style-1 .navbar-nav>.active>a,
.header-style-1 .navbar-default.style-1 .navbar-nav>.active>a:focus,
.header-style-1 .navbar-default.style-1 .navbar-nav>.active>a:hover,
.header-style-1 .navbar-default.style-1 .navbar-nav>.open>a,
.header-style-1 .navbar-default.style-1 .navbar-nav>.open>a:focus,
.header-style-1 .navbar-default.style-1 .navbar-nav>.open>a:hover,
.header-style-1 .navbar-default.style-1 .navbar-nav>li>a:hover {
    color: #333;
}
.fixed-header{ 
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #F1F1F1;
}
.navbar-default .navbar-nav.style-2>li>a {
    color: #fff;
}

a.flip-animate {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
a.flip-animate span {
  position: relative;
  display: inline-block;
  padding: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
a.flip-animate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  text-align: center;
}
a.flip-animate:hover span,
a.flip-animate:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
          transform: rotateX(90deg) translateY(-22px);
}
a.flip-animate:hover span:before, a.flip-animate:focus span:before {
  color: #007EA3;
}
.header-color a.flip-animate:hover span:before, .header-color a.flip-animate:focus span:before {
    color: #fff;
}
.header-color.fixed-header a.flip-animate:hover span:before, .header-color.fixed-header a.flip-animate:focus span:before {
    color: #333;
}

.conner-style .navbar-brand:before {
    background: rgba(0,176,146, 0.9);
    content: "";
    position: absolute;
    left: -80%;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
}
@media screen and (max-width: 991px) {
  
    .conner-style .navbar-brand:before {
        display: none;
    }
}

.conner-style.style-2 {
    background: rgba(255,255,255, 0.99);
    border-top: 1px solid #eee;
    position: relative !important;
}
.conner-style.style-2 .navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 14px;
    font-weight: 600;
    padding: 30px 12px;
    text-transform: uppercase;
}
.conner-style.style-2 .navbar-brand:before {
    height: 103%;
}
.conner-style.style-2 .dropdown-buttons .btn-group .btn {
    color: #777;
}
.header-topbar.style-2 {
    background-color: #f7f7f7;
    color: #777;
    padding: 10px 0;
}
.header-topbar.style-2 .top-icon li {
    background-color: #eee;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    color: #00b092;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 12px;
}
.header-topbar.style-2 .top-icon i {
    color: #00b092;
    font-size: 16px;
    position: relative;
    top: 1px;
}
.header-topbar.style-2 .icon-style-1 li {
    background-color: #00b092;
    border: 1px solid #e9e9e9;
}
.header-topbar.style-2 .icon-style-1 li a {
    color: #fff;
}

.dropdown-buttons {
    margin-left: 15px;
    margin-top: 22px;

}
.menu-shop-btn {
    background: #333;
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 4px;
    color: #fff;
}

.dropdown-menu.cart .menu-shop-btn {
    background: #00b092;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
    padding: 6px 12px;
}

.menu-shop-btn:hover {
    background: #00B092;
    color: #FFF;
}
.dropdown-buttons .btn-group .dropdown-menu.cart {
    padding: 10px 10px 15px;
    min-width: 350px;
    font-size: 13px;
}

.dropdown-buttons .btn-group .dropdown-menu.cart .panel-body {
    padding: 0px 10px 0px;
}

.menu-cart {
    position: absolute;
    top: -2px;
    right: -3px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #00B092;
    color: #fff;
}

.dropdown-buttons .dropdown-toggle::after {
    display: none;
}


.dropdown-buttons .btn-group .btn {
    background: transparent;
    color: #fff;
    border-right: 1px solid #00B092;
    font-size: 14px;
    margin-left: -5px;
    box-shadow: none;
}

.fixed-header .dropdown-buttons .btn-group .btn {
    color: #333;
}
.dropdown-buttons .btn-group:last-child .btn {
    border-right: none;
}
.dropdown.open .menu-cart,
.dropdown:hover .menu-cart {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
}

.total-amount,
.total-quantity {
    font-size: 13px;
}

.cart {
    font-family: 'Poppins',sans-serif;
}

.cart .table > thead > tr > th {
    color: #00b092;
    font-size: 15px;
    font-weight: 700;
}

.cart .table > tbody > tr > td,
.cart.table > tbody > tr > td {
    vertical-align: inherit;
}

.cart .quantity {
    width: 50px;
    font-size: 11px;
}

.cart .product {
    width: 220px;
    font-size: 13px;
}

.cart .product .small {
    display: block;
    color: #999999;
}

.dropdown-buttons .menu-search-box form .form-group,
.dropdown-buttons .menu-search-box form .form-group .form-control {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}
.dropdown-buttons .menu-search-box ul {
    padding: 20px;
    border: 0;
    min-width: 280px;
    position: absolute;
    left: 60px;
}

.dropdown-buttons .menu-search-box .search-box i {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin-top: 0px;
    background: #00B092;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.dropdown-buttons .menu-search-box .search-box i:hover {
    background: #333;
}
.dropdown-buttons .dropdown-menu-right {
    position: absolute;
    transform: translate3d(-310px, 40px, 0px);
    top: 15px;
    left: 0px;
    will-change: transform;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-group.open .dropdown-toggle, 
.btn-group:focus .dropdown-toggle {
    box-shadow: none;
}


/*****=====*****=====*****=====*****=====
    08. Main Slider Style Css
=====*****=====*****=====*****=====*****/

.bs-slider{
    overflow: hidden;
    max-height: 750px;
    position: relative;
    background: #000000;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);    
}


.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100%;
}

/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}






/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}





/*---------- SLIDE CAPTION ----------*/

.slide-text {
    left: 15%;
    top: 20%;
    right: 15%;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
    
}

.slide-text > h1 {
    
    padding: 0;
    color: #ffffff;
    font-size: 42px;
    font-style: normal;
    line-height: 84px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 30px;
    padding: 0;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
    color: #000;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00B092;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.slide_style_left {
    text-align: left;
}
.slide_style_right {
    text-align: right;
}
.slide_style_center {
    text-align: center;
}


/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text {
        display: none;
    }
    .bs-slider{
        max-height: 450px;
    }

}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}


.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

body {
    overflow-x: hidden !important;
}

.datepicker table {
    margin: auto;
}
.btn-black {
    color: #fff;
    padding: 8px 20px;
    background: #111;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-black:hover {
    color: #FFF;
    background: #00B092;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.achievement-item {
    background-color: #333;
    margin-bottom: 20px;
    padding: 20px;
}
.achievement-item h4 a {
   color: #00B092;
}
.achievement-item h4:hover a {
   color: #00B092;
}
.achievement-item p {
   color: #fff;
}




/*****=====*****=====*****=====*****=====
    15. Team Style Css
=====*****=====*****=====*****=====*****/



.team-item {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
}
.team-item .overlay {
  border-bottom: 100px solid #333;
  border-left: 100px solid transparent;
  bottom: 0;
  height: 0;
  opacity: .85;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}
.team-item:hover .overlay {
  border-bottom: 800px solid #000;
  border-left: 800px solid transparent;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.team-item .corner-overlay-content {
  bottom: 15px;
  color: #FFF;
  position: absolute;
  right: 15px;
  font-size: 1.286em;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.team-item:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.team-item .overlay-content {
  bottom: 0;
  color: #FFF;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.team-item .overlay-content h4 {
  color: #fff;
  margin-top: 3em;
}
.team-item .overlay-content h6 {
  border-bottom: 1px solid #FFF;
  padding: 0 0 12px;
  color: #00B092;
}
.team-item .overlay-content p {
    margin-top: 20px;
    margin-bottom: 30px;
}
.team-item:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.team-content {
    padding: 20px;
    background-color: #00B092;
    position: relative;
    text-align: left;
}

.team-content h4 a {
    color: #333;
}

.team-content h6 {
    color: #eee;
}


.team-content-icon {
    position: absolute;
    right: 20px;
    top: 37%;
    font-size: 50px;
    color: #fff;
}


.clients-carousel .item {
    margin: 8px;
}

.clients-carousel img {
    padding: 21px;
    border: 1px solid #00B092;
    background-color: #f2f2f2;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.clients-carousel img:hover {
    background-color: #00B092;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.clients-logo img {
    width: 210px;
    background-color: #fff;
    display: inline-block;
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.clients-logo img:hover {
    border: 2px solid #00B092;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.clients-carousel .owl-controls .owl-prev {
    top: -70%;
    left: 89%;
}
.clients-carousel .owl-controls .owl-next {
    top: -70%;
    right: 1%;
}
.team-details {
    background: #f5f5f5;
    padding: 30px;
}
.team-details address ul li {
    margin-bottom: 20px;
}
.team-details address ul li i {
    color: #FFF;
    background: #00B092;
    padding: 10px;
    margin-right: 10px;
    font-size: 17px;
}
.team-details address ul li a {
    color: #00B092;
}
.team-area {
    position: relative;
    z-index: 1;
}
.team-area .team-logo{
    position: absolute;
    opacity: .05;
    top: 5%;
    z-index: -1;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.team-details-content h2 a {
    color: #333;
}
.team-details-content h6 {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    color: #00B092;
}
.team-details-content p {
    margin-bottom: 20px;
}

.team-details-content .tab-2 #tab1:checked ~ #content1,
.team-details-content .tab-2 #tab2:checked ~ #content2,
.team-details-content .tab-2 #tab3:checked ~ #content3,
.team-details-content .tab-2 #tab4:checked ~ #content4 {
    background: #f5f5f5;
    padding: 15px;
}



.team-item-2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.team-contact {
    position: absolute;
    top: 20px;
    left: -20%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.team-item-2:hover .team-contact {
    left: 20px;
    z-index: 1;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}
.team-item-2 .team-contact ul li {
    background-color: #00b092;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    border-radius: 50%;
    margin-bottom: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
}

.team-item-2 .team-contact ul li:hover {
    background-color: #eee;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-item-2 .team-contact ul li a i {
    color: #FFF;
}

.team-item-2 .team-contact ul li:hover a i {
    color: #00b092;
}

.team-item-2 .team-content h4 a {
    color: #FFF;
}

.team-area-col-3 .team-content-icon {
    right: 15px;
    top: 40%;
    font-size: 36px;
}

.team-details {
    position: relative;
}
.team-details h3 {
    position: absolute;
    right: -20px;
    color: #ddd;
    top: 43%;
    transform: rotate(90deg);
    font-size: 36px;
}

.skills {
    margin-bottom: 50px;
}
.skills .title-bar h5 {
    text-transform: capitalize;
}

.skills.style-1 {
    margin-bottom: 50px;
}
.skills.style-1 h5{
    color: #FFF;
}


/*****=====*****=====*****=====*****=====
    17. Blog Style Css
=====*****=====*****=====*****=====*****/

.blog-item {
    position: relative;
    overflow: hidden;
    background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blog-item .blog-content h4:hover {
    color: #00B092;
}
.blog-item .blog-img {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.blog-item .blog-images,
.blog-item .blog-content {
    width: 50%;
    float: left;

}
.blog-item .blog-content {
    background: transparent;
}

.blog-item .blog-img:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.13);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}
.hvr-bounce-to-top:before {
    background: #111;
}



/*======= ****========****=======
    Footer Style ( All Footer Style )
/*======= ****========****=======*/

footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-item {
  font-family: 'Poppins',sans-serif;
  position: relative;
  margin-bottom: 30px;
}
.footer-logo {
  margin-bottom: 20px;
  width: 180px;
}
.footer-logo-2 {
  width: 250px;
  text-align: center;
}
.footer-widget-one p {
  color: #a4a4a4;
  font-size: 14px;
  margin-bottom: 21px;
}
.footer-widget-one .address li {
  color: #a4a4a4;
  font-size: 15px;
  margin-bottom: 10px;
}
.footer-widget-one .address li i {
  margin-right: 8px;
  font-size: 18px;
  color: #00B092;
}
.social-icon li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.social-icon li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-icon li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-icon.bg-f2 li {
  background: #f2f2f2;
}
.social-icon.bg-f2 li a {
  color: #00B092;
}
.social-icon.bg-f2 li:hover {
  background: #00B092;
}
.social-icon.bg-f2 li:hover a {
  color: #FFF;
}
.social-icon.bg-theme li {
  background: #00B092;
}
.social-icon.bg-theme li a {
  color: #fff;
}
.social-icon.bg-theme li:hover {
  background: #4d4d4d;
}
.social-icon.bg-theme li:hover a {
  color: #fff;
}
.social-icon.bg-black li {
  background: #4d4d4d;
}
.social-icon.bg-black li a {
  color: #fff;
}
.social-icon.bg-black li:hover {
  background: #00B092;
}
.social-icon.bg-black li:hover a {
  color: #fff;
}
.social-icon.bg-transparent li {
  background: transparent;
}
.social-icon.bg-transparent li a {
  color: #333;
}
.social-icon.bg-transparent li:hover {
  background: transparent;
}
.social-icon.bg-transparent li:hover a {
  color: #00B092;
}
.social-icon.rounded li {
  border-radius: 50%;
}
.social-icon.round li {
  border-radius: 7px;
}
.social-icon.borde#00B092 li {
  border: 1px solid;
}
.social-icon.borde#00B092 li:hover {
  background: #00B092;
  border-color: #00B092;
}
.social-icon.borde#00B092 li:hover a {
  color: #fff;
}
.social-icon.borde#00B092-theme li {
  border: 1px solid #00B092;
}
.social-icon.borde#00B092-theme li a {
  color: #00B092;
}
.social-icon.borde#00B092-theme li:hover {
  background: #00B092;
  border-color: #00B092;
}
.social-icon.borde#00B092-theme li:hover a {
  color: #fff;
}



.footer-list li {
  padding-bottom: 12px;
  padding-top: 10px;
  border-bottom: 1px solid #00B092;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-list li a {
  color: #4a4a4a;
  margin-left: 5px;
}

.footer-list.border-deshed li {
  border-bottom: 1px solid #e7e7e7;
  color: #00b092;
}
.footer-list.color-icon li i {
  color: #00B092;
}

.footer-list li:hover {
  padding-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-title {
  margin-bottom: 30px;
}


.footer-title h4 {
  font-size: 20px;
}
.border-style-1,
.border-style-2,
.border-style-3 {
    position: relative;
}


.border-style-1:before {
    top: 1px;
    content: "";
    height: 1px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 120px;
    background: #f8f8f8;
}
.border-style-1:after{
    top: 0;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 40px;
    background: #00B092;
}

.border-center:after,
.border-center:before {
    left: 0;
    right: 0;
    margin: auto;
}

.border-style-2:after{
    top: 0;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 50px;
    background: #00B092;
}

.border-style-3:before {
    top: -45px;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 70px;
    background: #00B092;
}
.border-style-3:after{
    top: 0;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 40px;
    background: #00B092;
}
 

.img-rounded img,
.img-rounded a:after,
.img-rounded a:before {
  border-radius: 100%;
}

.img-round img,
.img-round a:after,
.img-round a:before {
  border-radius: 10px;
}


.footer-item .subscribe-style-one,
.footer-item .subscribe-style-two,
.footer-item .subscribe-style-three {
  margin-bottom: 30px;
}


.btn-subscribe {
  height: 55px;
  border-radius: 0;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.btn-subscribe:hover {
  background: #00B092;
}

.subscribe-style-two .btn-subscribe {
  background: #00B092;
}
.subscribe-style-two .form-control:focus {
  border-color: #00B092;
}
.subscribe-style-two .btn-subscribe:hover {
  background: #333;
  color: #fff;
}
.footer-item .newsletter-text {
  position: relative;
  padding-bottom: 20px;
}
.footer-item .newsletter-text:before {
  top: 30px;
  content: "";
  height: 3px;
  left: 2px;
  margin: auto;
  position: absolute;
  width: 40px;
  background: #00B092;
}
.flicker-feed>a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.3333%;
    z-index: 1;
}
.flicker-feed.gutter>a {
    display: inline-block;
    float: left;
    position: relative;
    width: 32%;
    z-index: 1;
    margin: 1px;
}

.flicker-feed>a:before {
    background-color: rgba(0,176,146, 0.9);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flicker-feed>a:hover:before,
.flicker-feed>a:hover:after {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.flicker-feed>a:after {
    color: #fff;
    content: "\e618";
    font-family: 'Pe-icon-7-stroke';
    font-size: 24px;
    font-weight: 300;
    left: 45%;
    position: absolute;
    top: 45%;
    margin-top: -7px;
    margin-left: -7px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-item form .form-control {
  height: 45px;
  margin-bottom: 0;
}
.footer-item .contact-textarea .form-control {
  height: 85px;
  margin-bottom: 15px;
}
.footer-btn {
    font-size: 13px;
    color: #fff;
    background: #4d4d4d;
}
.footer-btn:hover {
    color: #fff;
    background: #00B092;
}

.footer-btn-1 {
    font-size: 13px;
    color: #fff;
    background: #00B092;
}
.footer-btn-1:hover {
    color: #fff;
    background: #4d4d4d;
}
.footer-item .footer-feature i {
  font-size: 30px;
  margin-bottom: 15px;
}
.footer-copy-right .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-copy-right {
  border-top: 1px solid #f6f6f6;
}
.footer-copy-right p {
  color: #a4a4a4;
}
.footer-copy-right p a {
  color: #00B092;
  font-weight: 600;
}

.bg-footer-1 {
    color: #fff;
}

.bg-footer-1 a:hover {
    color: #00B092;
}
.bg-footer-1,
.bg-footer-1 h4,
.bg-footer-1 .footer-title h4, 
.bg-footer-1 h5,
.bg-footer-1 .footer-item h6, 
.bg-footer-1 .footer-item .newsletter-text,
.bg-footer-1 .footer-item .social-icon.borde#00B092 li i,
.bg-footer-1 .social-icon.borde#00B092 li i,
.bg-footer-1 .footer-item .social-icon.bg-black li,
.bg-footer-1 a {
    color: #fff;
}

#map {
    width: auto;
    height: 525px;
}

.bg-footer-1 hr {
    background: #eee;
}
.bg-footer-1 .footer-item form .form-control {
    background: transparent;
    border-color: #777;
}
.bg-footer-1 .footer-item form .form-control:focus {
    border-color: #00B092;
}


/*****=====*****=====*****=====*****=====
    20. Error Style css
=====*****=====*****=====*****=====*****/

/*.error {
    height: 100vh;
}*/
.error .content {
    padding-top: 8em;
    padding-bottom: 8em;
}
.error .content h2 {
    font-size: 30em;
    position: relative;
   font-family: 'Cookie', cursive;
   line-height: .7;
   margin-bottom: 80px;
}
.error .content h2 span {
    color: #00B092;
}
.error .content p {
    font-size: 1.4em;
    margin-bottom: 2em;
    line-height: 0.8;
}

#map {
    width: auto;
    height: 460px;
}

/* Defualt Theme Css */ 
.padding-20 {
    padding: 20px;
}
.padding-none {
    padding-top: 0;
    padding-bottom: 0;
}
.padding-tb {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-rl-50 {
    padding-right: 50px;
    padding-left: 50px;
}
.padding-bottom-none {
    padding-bottom: 0;
}
.padding-top-none {
    padding-top: 0;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-40 {
    padding-top: 40px;
}
.margin-top-none {
    margin-top: 0;
}
.padding-bottom-80 {
    padding-bottom: 80px;
}
.padding-bottom-150 {
    padding-bottom: 150px;
}

.padding-top-bottom-150 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.mt-20 {
    margin-top: -20px;
}
.margin-bottom-none {
    margin-bottom: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-70 {
    margin-bottom: 70px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-30 {
    margin-left: 30px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}

.margin-top30 {
    margin-top: -80px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-150 {
    margin-top: 150px;
}
.margin-left-20 {
    margin-left: 20px;
}
.bg-f8 {
    background-color: #f8f8f8;
}
.bg-f9 {
    background-color: #f9f9f9;
}
.bg-transparent {
   background: transparent; 
}
.bg-defult {
    background: #00B092;
}
.bg-defult-1 {
    background: rgba(0,0,0,.5);
}
.bg-defult-2 {
    background: rgba(0,176,146, 0.9);
}
.bg-defult-1.fixed-header {
    background: #F1F1F1;
}
.color-defult {
    color: #00B092;
}
.color-2 {
    color: #007EA3;
}
.border-1 {
    border: 1px solid #fff;
}
.border-right {
    border-right: 1px solid #fff;
}
.w100 {
    width: 100%;
}
.z-index-2 {
    z-index: 2;
}
.footer-style-1 {
    background-position: left;
    background-size: cover;
}
.ff-p {
    font-family: 'Poppins', sans-serif;
}
.fw-b {
    font-weight: 600;
}
.copy-right-list li a {
    color: #fff;
}
.copy-right-list li a:hover {
    color: #333;
}
.footer-style-1 .footer-style-1,
.footer-style-1 .footer-item-3 p,
.footer-style-1 .footer-item-3 ul li,
.footer-style-1 .footer-item-3 ul li a,
.footer-style-1 .footer-item-2 h4,
.footer-style-1 .footer-item-3 h4,
.footer-style-1 .news-content a,
.footer-style-1 .team-name li a,
.footer-style-1 .team-name li i {
    color: #777 !important;
}
.footer-style-1 .footer-style-1:hover,
.footer-style-1 .news-content a:hover,
.footer-style-1 .team-name li:hover a,
.footer-style-1 .team-name li:hover i {
    color: #00B092 !important;
}

.footer-style-1 .footer-item-2.style-1 h4:before,
.footer-style-1 .footer-item-3.style-1 h4:before {
    background-color: #555;
}
.icon-style-1 li {
    background: #111;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon-style-1 li:hover {/*
    background: #022480;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icon-style-1 li a {
    color: #FFF;
    display: block;
}
.conner-style {
    position: absolute !important;
    width: 100%;
    z-index: 3;
}
.conner-style.fixed-header{
    position: fixed !important;
    width: 100%;
    z-index: 3;
}

.singup {
    background: #00B092;
    padding: 5px;
}
.footer-style-1 .singup li a {
    color: #fff !important;
}
.footer-style-1 .singup li:hover a,
.footer-style-1 .singup li:hover i {
    color: #333 !important;
}
.footer-style-1 .singup li i {
    color: #fff !important;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0; 
}
.border-none {
    border: none;
}
.position-relative {
    position: relative; 
}
.position-fixed {
    position: fixed; 
}

.text-white {
    color: #fff !important;
}