*{
    padding: 0;
    margin : 0;
    box-sizing : border-box;
}

.login{
    background:cadetblue;
}

.inp1{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.icon{
    position: absolute;
}